.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

.add-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.add-btn:hover {
  background-color: #218838;
}

.list {
  margin-top: 20px;
}

.toDoItem {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.toDoText h3 {
  margin: 0 0 5px;
  color: #333;
}

.toDoText p {
  margin: 2px 0;
  color: #666;
}

.toDoActions {
  display: flex;
  gap: 10px;
}

.editIcon, .deleteIcon {
  cursor: pointer;
  color: #888;
  transition: color 0.3s ease;
}

.editIcon:hover {
  color: #007bff;
}

.deleteIcon:hover {
  color: #dc3545;
}
